@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap');

:root{
    --fuentePrincipal:"Mrs Sheppards", cursive;
    --colorGreen: rgb(105, 23, 17);
    --colorDark: rgb(14, 7, 75); 
    --colorPink: rgb(230, 97, 15);
    --colorBlue: rgba(255,140,105,1);
    --colorDegrade: 
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    flex-direction: row;
    background: linear-gradient(122deg, rgba(255,255,255,1) 37%, rgba(255,140,105,1) 66%);
    width: 100%;
    height: 8em;    
    
}

.empresa{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    padding-left: 2em;
    gap:10px;
}

img{
    width: 6em;
    height: auto;
}

.brand{
    font-family: var(--fuentePrincipal);
    font-size: 2.5em;
    color: rgb(230, 83, 67);
    -webkit-text-stroke-color:var(--colorGreen);
    -webkit-text-stroke-width: 0.5px;
}

span{
    -webkit-text-stroke-color:var(--colorGreen);
    -webkit-text-stroke-width: 0.5px;
}

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30em;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
a{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 600;
    color: var(--colorDark);    
}

a:hover{
    transform: scale(1.2);
    font-weight: 600;
    color: white;
    text-shadow: 
        1px 1px 2px black,
        0 0 1em var(--colorBlue),
        0 0 0.2em var(--colorBlue);
}

main{
  height: auto;
  margin: 10px;
  display: grid;

}

.cuerpo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.presentacion{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background: linear-gradient(110deg, rgba(255,255,255,1) 45%, rgba(17,171,202,1) 96%, rgba(219,17,219,1) 100%);
    gap: 1px;
    background-color: black;

}

.openbook{
    height: 25em;
    width: auto;
    opacity: 0.8;
}

.letter{
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.tit{
    font-family: cursive;
    font-weight: 600;
    font-size: 2.5em;    
    color: black;
    
    text-shadow: 
        1px 1px 2px black,
        0 0 1em  rgba(17,171,202,1),
        0 0 0.2em  rgba(17,171,202,1);
    text-align:center;    
}

.titname{
    font-family: var(--fuentePrincipal);
    font-size: 4em;
    font-weight: bolder;
    -webkit-text-stroke-color: var(--colorGreen);
    -webkit-text-stroke-width: 0.01px;
}

.greet{
    font-family: cursive;
    font-size: 1.2em;
}

.marca{
    font-family: var(--fuentePrincipal);
    -webkit-text-stroke-color: var(--colorPink);
    -webkit-text-stroke-width: 0.5px;
}

p{
    width: 38em;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7em;
}

.subcuerpo{
    width: 29%;
    height: 25.3em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.div-clientes{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-clientes{
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, rgba(17,171,202,1) 0%, rgba(17,171,202,1) 56%, rgba(219,17,219,1) 100%);
    border: solid 1px rgba(17,171,202,1);
    font-family: cursive;
    font-weight: 600;
    font-size: 1.2em;
}

.div-productos{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton-productos{
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, rgba(17,171,202,1) 0%, rgba(17,171,202,1) 56%, rgba(219,17,219,1) 100%);
    border: solid 1px rgba(17,171,202,1);
    font-family: cursive;
    font-weight: 600;
    font-size: 1.2em;
}

button:hover{
    transform: scale(1.03);
    font-weight: 600;
    color:white;
    box-shadow: 2px 2px 6px var(--colorBlue);
    cursor:pointer;

}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(122deg, rgba(255,140,105,1) 37%, rgba(255,255,255,1) 63%);
    height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}