main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
    padding: 5px;
    margin: 30px;
    background-color:white;
    border-radius: 15px;
    border: solid var(--colorBlue) 2px;
    box-shadow: 1px 2px 20px var(--colorGreen);
   
 
}
.subcont{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0.5em;

}

.row{
    display: flex;
    flex-direction: column;
    padding: 20px;        
    background-color: white;
}


.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 2em;
    font-family: cursive;
    color: var(--colorGreen);
    font-weight: 600;
}


.fomulario-input{
    border: 1px solid var(--colorBlue);
    box-shadow: 0.5px 1px 10px var(--colorBlue);
}

.sub{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.uno{
    gap:1em;
}

.dos{
    gap:3.2em;
}

.tres{
    gap:6.1em;
}

.cuatro{
    gap:4.7em
}

.siete{
    justify-content: space-between;
    gap: 2em;
}

.boton{
    width: 8em;
}

.unop{
    gap: 3.2em;
}

.dosp{
    gap: 0.5em;
}

.tresp{
    gap: 4.3em;
}

.cuatrop, .cincop{
    gap:3em;
}

.seisp{
    justify-content: space-between;
    gap: 2em;
}

.boton{
    width: 8em;
}