@import url('https://fonts.googleapis.com/css2?family=Mrs+Sheppards&display=swap');

:root{
    --fuentePrincipal:"Mrs Sheppards", cursive;
    --colorGreen: rgb(105, 23, 17);
    --colorDark: rgb(14, 7, 75); 
    --colorPink: rgb(230, 97, 15);
    --colorBlue: rgba(255,140,105,1);
    --colorDegrade: 
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    flex-direction: row;
    background: linear-gradient(122deg, rgba(255,255,255,1) 37%, rgba(255,140,105,1) 66%);
    width: 100%;
    height: 8em;    
    
}

.empresa{
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    padding-left: 2em;
    gap:10px;
}

img{
    width: 6em;
    height: auto;
}

.brand{
    font-family: var(--fuentePrincipal);
    font-size: 2.5em;
    color: rgb(230, 83, 67);
    -webkit-text-stroke-color:var(--colorGreen);
    -webkit-text-stroke-width: 0.5px;
}

span{
    -webkit-text-stroke-color:var(--colorGreen);
    -webkit-text-stroke-width: 0.5px;
}

.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30em;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}
a{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 600;
    color: var(--colorDark);    
}

a:hover{
    transform: scale(1.2);
    font-weight: 600;
    color: white;
    text-shadow: 
        1px 1px 2px black,
        0 0 1em var(--colorBlue),
        0 0 0.2em var(--colorBlue);
}

main{
  height: auto;
  margin: 10px;
  display: grid;

}

.cuerpo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.presentacion{
    width: 61.8%;
    height: 25.3em;
    display: flex;
    flex-direction: row;
    justify-content:right;
    align-items:center;
    gap: 1px;
    background-image:url(./imagenes/Untitled-3.png);
    background-size: cover;
    background-repeat: none;    

}

.letra{
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding: 10em;
}

.presentacion-title{
    font-family: cursive;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    color: var(--colorBlue);
    -webkit-text-stroke-color:var(--colorGreen);
    -webkit-text-stroke-width: 2px;

}

.letrero{
    font-family: var(--fuentePrincipal);
    font-size: 1.3em;
    color: rgb(230, 83, 67);
    -webkit-text-stroke-color:var(--colorGreen);
    -webkit-text-stroke-width: 0.5px;
}
.subcuerpo{
    width: 36%;
    height: 25.3em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.div-clientes{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton-clientes{
    width: 100%;
    height: 100%;
    background: linear-gradient(122deg, rgba(255,255,255,1) 37%, rgba(255,140,105,1) 66%);
    border: solid 1px var(--colorPink);
    font-family: cursive;
    font-weight: 600;
    font-size: 1.2em;
    color: var(--colorDark);
}

button:hover{
    background-color: var(--colorBlue);
}

button:hover::after{
   
    font-size: 1.1em;
    color: var(--colorDark);
    box-shadow: 2px 2px 6px var(--colorPink);
    cursor:pointer;
    content: ' : Podras agregar, eliminar y/o editar datos como el nombre del profesional, especialidad, fecha, duracion de la consulta, entre otros. ';
    
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(122deg, rgba(255,140,105,1) 37%, rgba(255,255,255,1) 63%);
    height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}